* {
  margin: 0;
  padding: 0;
  background-color: #0d1117;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.header {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  gap: 5px;
  color: white;
  font-size: 18px;
  margin-left: 50px;
  width: 5rem;
  height: 3rem;
  align-items: center;
  justify-content: center;
  display: flex;
}

.logo a {
  text-decoration: none;
  font-size: 20px;
  color: white;
}

.logo i {
  font-size: 30px;
}

.navbar {
  /* border: 2px solid red; */
  display: flex;
  margin-right: 50px;
  gap: 30px;
}

.navbar a {
  font-size: 15px;
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

.home {
  /* border: 2px solid red; */
  height: 50vh;
  display: flex;
  align-items: center;
  padding: 0px 5%;
  justify-content: center;
}
.home-content {
  max-width: 700px;
  height: 45vh;
  /* border: 2px solid red; */
}
.home-content h1 {
  /* border: 2px solid red; */
  position: relative;
  font-size: 70px;
  font-weight: 800;
  line-height: 1;
  color: white;
}

.home-content p {
  /* border: 2px solid red; */
  color: #6e7681;
  position: relative;
  font-size: 25px;
  margin: 20px 0 40px;
  width: 50vw;
}

.home-content .arrow {
  line-height: 3;
  /* border: 2px solid red; */
  text-decoration: none;
  color: white;
  position: relative;
  font-size: 14px;
}

.home-content i {
  color: white;
  font-size: 10px;
}
.home-content .btn-box {
  /* border: 2px solid red; */
  position: relative;
  display: flex;
  width: 250px;
  height: 50px;
}

.btn-box a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 50px;
  background: white;
  border-radius: 8px;
  font-size: 19px;
  color: black;
  text-decoration: none;
  font-weight: 600;
}

/* ********* */

.main {
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  /* border: 2px solid red; */
  display: inline-block;
  margin-left: 550px;
}

h3 {
  color: white;
  font-size: 20px;
  font-weight: 100;
  font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas,
    Liberation Mono, monospace !important;
}

span {
  font-size: 20px;
  font-weight: 100;
  color: #2f81f7;
  font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas,
    Liberation Mono, monospace !important;
}

p {
  color: white;
  font-size: 15px;
  font-weight: 500;
}

.container {
  background-image: url(./img/light-glow.svg);
  background-repeat: no-repeat;
  margin-top: 40px;
  /* border: 2px solid red; */
}

.container p {
  font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas,
    Liberation Mono, monospace !important;
  margin-left: 220px;
  width: 900px;
  height: 50px;
  background-color: black;
  color: white;
  line-height: 5;
}

.last {
  display: flex;
  justify-content: center;
  /* border: 2px solid red; */
}
.last a {
  margin-top: 30px;
  text-decoration: none;
  color: white;
  font-size: 25px;
  font-weight: 800;
}

@media screen and (max-width: 450px) {
  * {
    background-color: black;
  }
  .header {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo {
    gap: 5px;
    color: white;
    font-size: 18px;
    margin-left: 0px;
    width: 5rem;
    height: 3rem;
    align-items: center;
    justify-content: center;
    display: flex;
  }

  .logo a {
    text-decoration: none;
    font-size: 20px;
    color: white;
  }

  .logo i {
    font-size: 30px;
  }

  .navbar {
    /* border: 2px solid red; */
    display: flex;
    margin-right: 20px;
    gap: 30px;
  }

  .navbar a {
    font-size: 15px;
    color: white;
    text-decoration: none;
    transition: 0.3s;
  }

  .home {
    /* border: 2px solid red; */
    height: 50vh;
    display: flex;
    align-items: center;
    padding: 30px 10px;
    justify-content: center;
  }
  .home-content {
    max-width: 900px;
    /* border: 2px solid red; */
  }
  .home-content h1 {
    /* border: 2px solid red; */
    position: relative;
    font-size: 40px;
    font-weight: 800;
    line-height: 1;
    color: white;
  }

  .home-content p {
    /* border: 2px solid red; */
    color: #6e7681;
    position: relative;
    font-size: 20px;
    margin: 20px 0 40px;
    width: 90vw;
  }

  .home-content .btn-box {
    /* border: 2px solid red; */
    position: relative;
    display: flex;
    width: 250px;
    height: 60px;
  }

  .btn-box a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 60px;
    background: white;
    border-radius: 8px;
    font-size: 19px;
    color: black;
    text-decoration: none;
    font-weight: 600;
  }
}
